*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  width: 1140px;
  column-gap: 30px;
  margin: 0 auto;
}

.result {
  width: 62.37%;
  margin-top: 78px;
}

.content__details {
  width: 35%;
}

.result__video {
  width: 100%;
  height: 386px;
  object-position: center;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

.content__video-card {
  display: flex;
  height: 107px;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.content__video-card-description-container {
  width: 50.7%;
}

.content__video-card-thumbnail {
  width: 49.3%;
  object-fit: cover;
}

.content__list::-webkit-scrollbar {
  width: 100%;
}

.title {
  padding-bottom: 26px;
  padding-top: 6px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  column-gap: 5px;
  align-items: center;
  width: fit-content;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  height: 100%;
  width: calc(100% - 4px);
  margin-left: 2px;
  cursor: pointer;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  padding-bottom: 5px;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: rgb(255, 255, 255);
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-position: under;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
}

.button {
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: -3px;
}

.search-form__submit-button {
  width: 27.3%;
  margin-top: 20px;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 2px;
}

.search-form__textfield {
  width: 225px;
  min-height: 27px;
  background-color: transparent;
  border: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  border-top: 1px solid rgb(255, 255, 255, 1);
  border-bottom: 1px solid rgb(255, 255, 255, 1);
  color: currentColor;
  cursor: text;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
}

.content__card-link:first-child {
  margin-top: 2px;
}

.content__card-link:last-child {
  margin-top: 2px;
}
